/* .App-header {
  margin-top: 0%;
  background-color: rgb(185, 8, 8);
  min-height: 10vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 10px;
  color: white;
  gap: 1.5rem;
} */
.App-header {
  margin-top: 0%;
  background-color: #ba131a;
  display: flex;
  align-self: auto;
  padding-left: 10px;
  color: white;
  height: 60px;
}

* {
  box-sizing: border-box;
}

.maq-logo {
  margin-left: 40px;
  padding-top: 14px;
  height: 60px;
  position: fixed;
}

img {
  margin-top: 3px;
  vertical-align: middle;
  border: 0;
  -webkit-tap-highlight-color: transparent;
}

.header-title {
  float: right;
  font-size: 21px;
  color: white;
  margin-left: 10px;
  font-family: Roboto;
  font-weight: 100;
  text-align: center;
  padding-left: 15px;
  padding-top: 3px;
}

.App {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

table {
  border-collapse: collapse;
  width: 50%;
  margin-left: auto;
  margin-right: auto;

}

.center-div {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: white;
}

th {
  border: 1px solid #565252;
  text-align: left;
  padding: 8px;
  font-size: 20px;
}

/* .box-1{
  margin-bottom: 2rem;
} */

.flex-container {
  display: flex;
  flex-direction: row;

}

.wrapper {
  width: 500px;
}

.box>* {
  flex: 1 1 160px;
  margin: 5px;
}

.EditClass {
  padding: 0 3rem 0 3rem;
}

.FirstPage {

  padding: 0 3rem 0 3rem;
}

table {
  width: 100%;
}

.align {
  display: flex;
  flex-direction: column;
}

.container {
  /* margin-top: 2rem; */
  width: fit-content;
  padding-top: 3rem;
}

.stk {
  padding-top: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.box-2 {
  margin-bottom: 3rem;
}

.GoBack {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0 3rem;
  margin-bottom: 0.4rem;
}

.GoBack:visited,
GoBack:hover,
GoBack:active,
GoBack:link {
  padding-top: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-decoration: none;
}

.grid{
  /* background-color: white; */
  height: 600px;
  width:100%;
  background-colors: #eadce1;
}